.httr-oauth
.RData
.Rhistory
.Rproj.user
.Renviron
.DS_Store
Textbook datasets
Exam
NSFG data wrangle.Rmd
*.Rproj
Project/rsconnect

# HTML, png, pdf
*.html
*.png
*.pdf
*.docx
*.doc
*.docx
*.svg
*.pptx

.CensusAPIkey.R
